* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

img {
    max-width: 100%;
}

.navbar , .header {
    background-color:#1F2937 ;
}

.body {
    padding: 30px
}

.navbar {
    height: 100px;
    padding: 30px;
}

.container {
    max-width: auto;
    margin: 0 auto;
    padding: 0 0;

}

.navbar .container div {
    font-size: 40px;
}

.navbar , .header {
    color: #F9FAF8;
    padding: 30px;
}

.navbar .container {
    display: flex;
    justify-content:space-between ;
    align-items: center;
    height: 100%;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 16px;

}

.navbar a {
    text-decoration: none;
    color: #F9FAF8;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header img {
    width: 400px;
    margin-right: 60px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(62, 62, 62, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header a {
    text-decoration: none;
    background-color:#3882F6 ;
    border-radius: 5px;
    color:#F9FAF8;
    padding: 10px;
    margin-left: 10px;
}

.header .container{
    padding: 30px 0;
}

.header .information p {
    margin-bottom: 15px;
}

.header h2 {
    font-size: 74px;
}



.body h3{
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
}

.body .container .boxes {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 60px;
    margin-top: 30px;

}

.body img {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    text-align: center;
    width: auto;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(62, 62, 62, 0.2)
}

.body .box {
    width: 300px;
}

.boxes {
    flex-wrap: wrap;
}

.body .box p {
    margin-top: 20px;
    font-size: larger;
}

.body p {
    text-align: center;
}

.quote {
    background-color: #E5E7EB;
}
.quote .container {
    display: flex;
    flex-direction: column;
    max-width: 700px;
}

.quote p {
    font-style: italic;
    margin-top: 100px;
    font-size: 20px;
}

.quote .container .quoter {
    text-align: end;
    margin: 0 100px;
    margin-bottom: 50px;
    font-weight: bolder;
}


.sign-up .container {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    margin-bottom: 70px;
    background-color: blue;
    border-radius: 10px;
    width: 800px;
    height: 200px;
    color: white;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}

.sign-up a {
    text-decoration: none;    
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 60px;
    border-radius: 10px;
    border: 2px solid white;
    padding: 5px 20px;
}

.footer {
    background-color: grey;
    display: flex;
    justify-content: center;    
    align-items: center;
    height: auto;
    height: 80px;
}

.body img:hover{
    transform: scale(1.4);
    -webkit-transition-duration:0.3s;
}

.body img {
    cursor: pointer;
    -webkit-transition-property:all;
    -webkit-transition-timing-function: ease;
    transition: transform .1s ease;
}


@media(max-width: 780px) {
    .header .container {
        flex-direction: column;
        text-align: center;
        justify-content: space-between;
    }
    .header .information {
        padding-bottom: 20px;
    }
    .body .container {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .sign-up .container {
        flex-direction: column;
        margin: 0 0;
        text-align: center;
        justify-content: space-between;
        align-items: center;
    }
    .sign-up a {
        flex-direction: column;
        margin: 0 0;
        text-align: center;
        justify-content: space-between;
        align-items: center;
    }

}




